* {
    margin: 0;
    padding: 0;
    font-family: 'Major Mono Display', monospace;
    color: #000;
    font-weight: 600;
}

body {
    background: linear-gradient(rgb(192, 191, 132), rgb(141, 124, 182));
    height: 100vh;
}

.img {
    background-image: url("lol.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 700px;
    padding: 20px 60px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #FFF;
}

.valores {
    width: 500px;
    text-align: center;
    margin: 5px;
    height: 20px;
}

#botaoSoma {
    width: 300px;
    height: 20px;
    margin: 5px;
}

#resultado {
     color: #FFF;
}